@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-grey-950 font-body text-grey-0;
}

@layer components {
    .h1 {
        @apply text-[30.5px] font-bold md:text-[48.8px];
    }

    .h2 {
        @apply text-[24.41px] font-bold md:text-[39.1px];
    }

    .h3 {
        @apply text-[19.5px] font-bold md:text-[31.3px];
    }

    .a {
        @apply text-sm text-highlight-info;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* ===================================== */
    /* File Tree Styles */
    /* ===================================== */
}

/* ======================================== */
/* React Complex Tree */
/* ======================================== */

.rct-tree-items-container {
    @apply font-body;
}

.rct-tree-item-button {
    @apply w-full !text-base font-normal !text-grey-400;
}

.rct-tree-item-button:hover {
    @apply !bg-grey-900;
}

.rct-tree-item-button-selected {
    @apply !bg-grey-800;
}

.rct-tree-item-arrow:hover {
    @apply !bg-grey-900;
}

.rct-tree-item-arrow svg {
    @apply stroke-grey-400;
}

/* ======================================== */
/* React Mosaic */
/* ======================================== */

.mosaic {
    @apply !bg-grey-950;
}

.mosaic .mosaic-tile {
    @apply !m-[1px] border-grey-900;
}

.mosaic .mosaic-window {
    @apply !rounded-none;
}

.mosaic .mosaic-window-toolbar {
    @apply !z-0 !h-9 !rounded-none !bg-grey-900 !text-grey-200;
}

.mosaic .mosaic-window-toolbar:hover {
    @apply !bg-grey-900;
}

.mosaic .mosaic-window-body {
    @apply !bg-grey-900;
}

.mosaic .drop-target {
    @apply !border-brand-400 !bg-brand-200 !bg-opacity-20;
}

.mosaic .mosaic-split:hover .mosaic-split-line {
    @apply !shadow-[0_0_0_1px_theme(colors.brand.500)];
}

/* ======================================== */
/* Fonts */
/* ======================================== */

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-UltraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedThinOblique.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedUltraBold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedUltraBoldOblique.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-BlackOblique.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-MediumOblique.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedRegularOblique.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedLight.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-UltraBoldOblique.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedLightOblique.ttf")
        format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedBoldOblique.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedMediumOblique.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedUltraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedThin.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedMedium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-LightOblique.ttf")
        format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-UltraBold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-RegularOblique.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-BoldOblique.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedBold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedRegular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedBlack.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-UltraLightOblique.ttf")
        format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-ThinOblique.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Thin.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedUltraLightOblique.ttf")
        format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Black.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Condensed GTWalsheimPro";
    src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-CondensedBlackOblique.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
}
